<article class="careers round">
  <h1><%= @c1 %></h1><br />
    <p>Requisition Number: CDG_E2</p>
    <p>The Mixing and Coatings Engineer will serve as an integral part of Seeo's Cell Development Group, responsible for development and optimization of coating processes, as well as characterization and analysis to support the development effort.</p>
  <h2>Primary Responsibilities:</h2>
  <ul class="careers">
    <li><p>Development of core processes for formulation mixing and coating of electrodes</p></li>
    <li><p>Optimization of process steps and conditions for reliable and scalable formulation mixing and coating</p></li>
    <li><p>Sourcing development and production equipment for mixing and coating processes and related quality assurance</p></li>
    <li><p>Contribution to cell design, packaging, and commercial product development</p></li>
  </ul>
  <h3>Requirements</h3>
  <ul class="careers">
    <li><p>Significant technological/scientific expertise and 5-10 years direct experience in formulations and coatings</p></li>
  	<li><p>Direct industrial experience developing technology and/or processes for lithium ion batteries preferred</p></li>
  	<li><p>Expertise in processing of polymer materials preferred</p></li>
  	<li><p>Commitment to developing and supporting a cohesive team as well as an effective and healthy work environment</p></li>
  	<li><p>Commitment to honesty, excellence, hard work, and continuous improvement</p></li>
  </ul>
</article>
