<article class="careers round">
  <h1><%= @c2 %></h1><br />
    <p>Requisition Number: CDG_E4</p>
    <p>Serve as an integral part of Seeo's R&D team, integrating novel electrode materials in Seeo's solid state cells for Seeo's next generation batteries.</p>
  <h2>Primary Responsibilities:</h2>
  <ul class="careers">
    <li><p>Develop and execute research project to test advantages of Seeo's polymer platform in next generation cathode systems.</p></li>
    <li><p>Design and perform electrochemical characterization aimed at quantitatively assessing the electrode-electrolyte interface.</p></li>
    <li><p>Analyze cycling behavior, and the electrochemical stability of the cathodes.</p></li>
  </ul>
  <h3>Requirements</h3>
  <ul class="careers">
    <li><p>Advanced degree in materials (chemical engineering, materials science) preferred, significant expertise in materials characterization, and engineering.</p></li>
  	<li><p>Direct experience in development of novel battery electrodes, preferably based on metal oxides.</p></li>
  	<li><p>Commitment to developing and supporting a cohesive team as well as an effective and healthy work environment.</p></li>
  </ul>
</article>
