<article class="careers round">
  <h1><%= @c3 %></h1><br />
    <p>Requisition Number: CDG_E5</p>
    <p>Serve as an integral part of Seeo's R&D team, driving an internal research effort to develop Seeo's next generation cell design.</p>
  <h2>Primary Responsibilities:</h2>
  <ul class="careers">
    <li><p>Design and perform electrochemical characterization aimed at quantitatively assessing performance of:</p></li>
      <ol>
      	<li><p>Advanced cathode design</p></li>
      	<li><p>Next generation polymer electrolytes, and the cathode-electrolyte interface</p></li>
      </ol>
    <li><p>Detailed analysis of cell operation, including discharge and cycling behavior.</p></li>
    <li><p>Work with partners and internal team to develop cell design based on new electrolyte and cathode materials, and processes for electrode fabrication and integration.</p></li>
  </ul>
  <h3>Requirements:</h3>
  <ul class="careers">
    <li><p>Advanced degree/related work experience preferred, significant technological expertise in Li ion electrochemistry required.</p></li>
  	<li><p>Prior experience with basic tools for electrochemical characterization including Impedance spectroscopy, DC techniques, and RC models.</p></li>
  	<li><p>Direct experience in developing battery electrodes.</p></li>
  	<li><p>A genuine passion for technology innovation, and ability to think independently.</p></li>
  	<li><p>Commitment to quality, team work, and continuous improvement.</p></li>
  </ul>
</article>
