<ul>
  <li><%= link_to @c1, "javascript:void(0)", :onclick => "ShowCareer('c1')", :id => "c1", :class => "link" %></li>
  <li><%= link_to @c2, "javascript:void(0)", :onclick => "ShowCareer('c2')", :id => "c2", :class => "link" %></li>
  <li><%= link_to @c3, "javascript:void(0)", :onclick => "ShowCareer('c3')", :id => "c3", :class => "link" %></li>
</ul>