<div id="home1">
  <h1>Advanced Materials to Revolutionize Electricity Storage & Delivery</h1>
</div>
<div id="home2">
  <p>Seeo is developing a new generation of rechargeable lithium batteries with unprecedented energy density, lifetime, and safety. Leapfrogging existing performance and cost standards, Seeo technology represents a unique solution for addressing the critical national and global need for electric vehicles and large-scale renewable energy storage.</p>
</div>