<div class="abouts_label" id="makp">
  Management & Key People
</div>
<div class="abouts_label" id="bod">
  Board of Directors
</div>
<div class="abouts_label" id="sab">
  Scientific Advisory Board
</div>
<div class="abouts_label" id="inv">
  Investors
</div>
<div class="abouts_label" id="ga">
  Grants & Awards
</div>